		body {padding:0; margin:0; font-family: 'Noto Sans KR', sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #151515; text-align: left; background-color:#000030; height:100%; word-break:keep-all;}
    	a {color:#FFF; text-decoration:none;}
    	h1 {font-size:1.75rem; padding:10px 10px 20px 10px; margin:0;}
    	.container {width:100%; margin:0 auto; white-space: normal; background:url("images/bg_glowing.png") no-repeat top left; background-size:cover;}
    	section {position: relative; margin: 0 auto; padding:0; overflow: hidden;}    	
    	.hr {margin-top:1rem; margin-bottom:1rem; border: 0; border-top: 1px solid #cecece; opacity:0.5; width:65%; margin:0 auto;}
    	.text-center {text-align:center;}
    	.text-right {text-align:right;}
    	.text-white {color:#FFF;}
    	.control-button {font-size:1.75rem; padding:10px 10px 20px 10px; margin:0; display:inline-block;}
    	.summary {width:90%; margin:0 auto; padding:0 0 15px 0; overflow-y:scroll; overflow-x:hidden;}
    	.summary ::-webkit-scrollbar {width:10px;}
    	.summary ::-webkit-scrollbar-track {box-shadow: inset 0 0 5px grey; border-radius:5px;}
    	.summary ::-webkit-scrollbar-thumb {background:#FFF; border-radius:5px;}
    	.summary .title {font-size:1.5rem; font-weight:400; word-break:keep-all;}
    	.summary .body {color:#cecece; overflow-y:scroll; height:330px;}    	
    	.footer {font-size:0.75rem; padding:20px;color:#ddd;}
    	.qr {font-size:0.75rem; padding:20px; width:90px; margin-left: auto;  margin-right: 0;}
    	.qr img {width:50px;}
		.noselect {
			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none; /* Safari */
			-khtml-user-select: none; /* Konqueror HTML */
			-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
		}		

		.loader-wrapper {
			position: fixed;
			width: 100%;
			height: 100%;
			text-align: center;
			z-index: 1;
		}

		@-webkit-keyframes spinner-border {
		to {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}}

		@keyframes spinner-border {
		to {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}}

		.loader {
			position: relative;
			top: 5px;
			width: 10rem;
			height: 10rem;
			left: auto;
			width: 80px;
			font-size: 20px;
			text-align: center;
			display: inline-block;			
			vertical-align: text-center;
		}
		
		@keyframes loader_ment_status {
			0% { transform: translate(6px,40px) scale(0); }
			25% { transform: translate(6px,40px) scale(0); }
			50% { transform: translate(6px,40px) scale(1); }
			75% { transform: translate(40px,40px) scale(1); }
			100% { transform: translate(74px,40px) scale(1); }
		}

		@keyframes loader_ment_status-r {
			0% { transform: translate(74px,40px) scale(1); }
			100% { transform: translate(74px,40px) scale(0); }}

		@keyframes loader_ment_status-c {
			0% { background: #ffffff }
			25% { background: #80dbff }
			50% { background: #ffffff }
			75% { background: #80dbff }
			100% { background: #ffffff }}

		.loader_ment_status div {			
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #ffffff;
			position: absolute;			
			transform: translate(40px,40px) scale(1);			
			animation: loader_ment_status 5.2631578947368425s infinite cubic-bezier(0,0.5,0.5,1);
		}
		.loader_ment_status div:nth-child(1) {			
			transform: translate(74px,40px) scale(1);
			background: #80dbff;
			animation: loader_ment_status-r 1.3157894736842106s infinite cubic-bezier(0,0.5,0.5,1), loader_ment_status-c 5.2631578947368425s infinite step-start;
		}.loader_ment_status div:nth-child(2) {
			background: #ffffff;
			animation-delay: -1.3157894736842106s;			
		}.loader_ment_status div:nth-child(3) {
			background: #80dbff;
			animation-delay: -2.6315789473684212s;			
		}.loader_ment_status div:nth-child(4) {
			background: #ffffff;
			animation-delay: -3.9473684210526314s;			
		}.loader_ment_status div:nth-child(5) {
			animation-delay: -5.2631578947368425s;
			background: #80dbff;}
		.loader_anime {			
			display: inline-block;
			background: none;
			overflow: hidden;
			width: 54px;
			height: 54px;			
		}
		.loader_ment_status {			
			position: relative;
			width: 100%;
			height: 100%;
			transform: translateZ(0) scale(0.54);
			transform-origin: 0 0;
			backface-visibility: hidden;}
		.loader_ment_status div { box-sizing: content-box; }
		
		@keyframes loader_loading_spin {
			0% { transform: translate(-50%,-50%) rotate(0deg); }
			100% { transform: translate(-50%,-50%) rotate(360deg); }
		}
		.loader_loading_spin div {
			position: absolute;
			width: 73px;
			height: 73px;
			border: 3px solid #fff;
			border-top-color: transparent;
			border-radius: 50%;
		}
		.loader_loading_spin div {
			animation: loader_loading_spin 1s linear infinite;
			top: 50px;
			left: 50px;
		}
		.loadingio-spinner-rolling-spin {
			width: 41px;
			height: 41px;
			display: inline-block;
			overflow: hidden;
			background: none;
		}
		.loader_loading_spin {
			position: relative;
			width: 100%;
			height: 100%;			
			transform: translateZ(0) scale(0.41);
			transform-origin: 0 0;
			backface-visibility: hidden;			
		}
		.loader_loading_spin div { box-sizing: content-box; }